body{background-color: rgb(157, 247, 247)}
.academico{
    background-color: rgb(245, 140, 140);
}
h1{background-color: rgb(241, 128, 128);}
.imagen2{
    padding: 20px;
    height: 250px;
    width: 250px;

}

.imagen6{
    position: absolute;
width: 200px;
height: 149px;

background: url(idiomas.png);
border-radius: 79px;

}
