body{background: hsl(195, 32%, 52%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #79c4c4, #188d8d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #111f3a, #59c3d8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-size:large
}
h1{background-color: rgb(100, 195, 206);
    color:black;
border-style:solid;
padding: 5px;
font-family:'Courier New', Courier, monospace;
font-weight: bold;}
    


.imagen{
    float: left;
    padding: 20px;
    height: 10px;
    width: 250px;
    transition: .5s ease;

}
.imagen2{
    border-radius: 40px;
    border: solid 3px;
height: 299px;}

*{list-style: none;
    padding: 0%;
    margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
}
    
nav{ background: #278aa8;
height: 80px;
width: 100%;

}
    
nav ul{
    float: right;
margin-right: 20px;
}

nav ul li{
    display:inline-block;
    line-height: 80px; 
    margin:0 5px ;
  
color: whitesmoke;
}


nav ul li{
    color: whitesmoke;

    font-size: 18;

    padding:  7px 13px;
    text-transform: uppercase;
    cursor: pointer;
}


.checkbtn{
    font-size: 30px;
    float: right;
    color: rgb(255, 255, 255);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{ display: none;}



@media (max-width:952px){
.imagen4{
    padding-left: 20px;}
    nav ul li a{
        font-size: 16px;

    }
}



@media (max-width:858px)
{
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed ;
        width: 100%;
        height: 100%;
        background: #2175ad;
        top: 80px;
        left: -100%;
text-align: center;
transition: all .5s;
    }
  nav ul li{
    display: block;
    margin: 50px 0px;
    line-height:  30px; 
    font-size: 20px;


  }

  


  }
  #check:checked ~ ul{
    left: 0%;
  }
    






  h3{color: antiquewhite;font-family:'Courier New', Courier, monospace;
    text-decoration-line: underline;}
   
    h4{color: antiquewhite 
        ; font-family:'Courier New', Courier, monospace;}
        p{color: antiquewhite; font-family:'Courier New', Courier, monospace;
        left: 10px;
    ;}
    
  
    
    *{transition: .5s ease;}
    @media screen and (max-width: 548px) {
        .imagen2 {
          margin-right: 250px;
        }
        .subtitulos{
          margin: 20px 0 30px 15px;
        }
        .info, .infocontacto {
          margin-left: 10px;
        }}
        .imagen2{
            max-width: 100%;
            max-height: 100%;
        }

    
 






































h3{color: antiquewhite;font-family:'Courier New', Courier, monospace;
text-decoration-line: underline;}
h4{color: antiquewhite 
    ; font-family:'Courier New', Courier, monospace;}
    p{color: antiquewhite; font-family:'Courier New', Courier, monospace;
    left: 10px;
;}

.fa-instagram{color: #d908e0;
background-color: white;}
    .fa-envelope{ color: rgb(142, 120, 204);
    background-color: white;}
    .fa-download{color: rgb(180, 71, 243);
    background-color: white;}

    
    
    .fa-twitter{color: #018dff;
    background-color: white;}

    .fa-facebook{color: #006eff;
    background-color: white;}

.socialmedia ul{background-color: white;
   }

*{transition: .5s ease;}

    .subtitulos{
      margin: 20px 0 30px 15px;
    }
   
    .info, .infocontacto {
      margin-left: 10px;
    }
   