body{background: hsl(195, 100%, 86%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bafafa, #a7f8f8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #abffff, #a2edfc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-size:large
}
h1{background-color: rgb(241, 128, 128);
    color:black;}
    
    h2{background-color: rgb(241, 128, 128);
        color:black;}


.imagen{
    float: left;
    padding: 20px;
    height: 250px;
    width: 250px;
}